<a href="https://colab.research.google.com/github/GreenGrasshopper28/Packmax/blob/main/Packmax_Ideate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [135]:
import pandas as pd
import numpy as np

In [136]:
ef = pd.read_excel("/content/Truck Dimensions1.xlsx")
ef.head()

         Vehicle Type  Depth (FT)  Width (FT)  Height (FT)  Tonnage
0           407 TEMPO         9.8         6.4          7.0  2.5 Ton
1     14 FT LPT TEMPO        13.6         6.9          7.5    4 Ton
2      18 Feet Truck         18.1         7.3          7.5    9 Ton
3      19 Feet Truck         19.1         7.3          8.2    7 Ton
4  20 Feet Container         19.9         8.1          8.2    7 Ton

In [137]:
df = pd.read_excel("/content/packaging data set.xlsx")
df.head()

                               Division  ...                      Horizontal Stacking Limit |||
0  Name of Godrej & Boyce business unit  ...  Maximum number of cartons leaning on eachother...
1             Godrej Security Solutions  ...                                                NaN
2             Godrej Security Solutions  ...                                                NaN
3             Godrej Security Solutions  ...                                                NaN
4             Godrej Security Solutions  ...                                                NaN

[5 rows x 11 columns]

In [138]:
df.shape

(41, 11)

In [139]:
df.columns

Index(['Division', 'Product Name', 'Model', 'Carton Number', 'Component',
       'Weight (kg)', 'Height (mm)', 'Width (mm)', 'Depth (mm)',
       'Vertical Stacking Limit =', 'Horizontal Stacking Limit |||'],
      dtype='object')

In [140]:
df['Carton Number'].value_counts()

2021-01-01 00:00:00                                                         26
2021-02-02 00:00:00                                                          3
2021-01-02 00:00:00                                                          3
2021-03-05 00:00:00                                                          1
2021-02-05 00:00:00                                                          1
2021-01-05 00:00:00                                                          1
Seperately packed and shipped boxes for one product (i.e. sold together)     1
2021-04-05 00:00:00                                                          1
2021-05-05 00:00:00                                                          1
Name: Carton Number, dtype: int64

In [141]:
df.drop(0,axis=0,inplace=True)

In [142]:
df.head()

                    Division  ... Horizontal Stacking Limit |||
1  Godrej Security Solutions  ...                           NaN
2  Godrej Security Solutions  ...                           NaN
3  Godrej Security Solutions  ...                           NaN
4  Godrej Security Solutions  ...                           NaN
5  Godrej Security Solutions  ...                           NaN

[5 rows x 11 columns]

In [143]:
df['Carton Number'].value_counts()

2021-01-01    26
2021-01-02     3
2021-02-02     3
2021-03-05     1
2021-02-05     1
2021-01-05     1
2021-04-05     1
2021-05-05     1
Name: Carton Number, dtype: int64

In [144]:
alpha=df['Weight (kg)']

In [145]:
beta=alpha.sum(axis=0,skipna=True)
print("Total Weight is ")
kappa=beta/1000
print(kappa)

Total Weight is
1.8804

In [148]:
p=ef.sort_values("Tonnage",ascending=True)
p=ef[['Tonnage','Vehicle Type']]
p

    Tonnage              Vehicle Type
0   2.5 Ton                 407 TEMPO
1     4 Ton           14 FT LPT TEMPO
2     9 Ton            18 Feet Truck
3     7 Ton            19 Feet Truck
4     7 Ton        20 Feet Container
5     7 Ton        22 Feet Container
6     7 Ton        24 Feet Container
7    15 Ton  22-24 Feet Taurus Truck
8    20 Ton     28 Feet Taurus Truck
9     7 Ton        32 Feet Container
10    7 Ton        32 Feet Container
11    7 Ton        32 Feet Container
12    9 Ton        32 Feet Container
13    7 Ton        34 Feet Container
14    14Ton        32 Feet Container
15   20 Ton           40 Feet Trailor

In [147]:
if(beta/1000<2.5):
  print(ef.loc[0,'Vehicle Type'])
elif(beta/1000<4):
  print(ef.loc[1,'Vehicle Type'])
elif(beta/1000<7):
  print(ef.loc[3:6,'Vehicle Type'])
  print(ef.loc[9:11,'Vehicle Type'])
  print(ef.loc[13,'Vehicle Type'])
elif(beta/1000<9):
  print(ef.loc[2,'Vehicle Type'])
  print(ef.loc[12,'Vehicle Type'])
elif(beta/1000<14):
  print(ef.loc[14,'Vehicle Type'])
elif(beta/1000<15):
  print(ef.loc[7,'Vehicle Type'])
elif(beta/1000<20):
  print(ef.loc[8,'Vehicle Type'])
  print(ef.loc[15,'Vehicle Type'])

407 TEMPO